font_size 23
ui_font MonaspiceNe Nerd Font Mono

custom_background_color 0.863 0.863 0.800
custom_text_color 0.121 0.121 0.121

background_color 0.184 0.204 0.247
dark_mode_background_color 0.184 0.204 0.247
ui_background_color 0.306 0.337 0.408

highlight_color_a 0.92 0.80 0.55
highlight_color_s 0.64 0.75 0.55
highlight_color_d 0.51 0.63 0.76
highlight_color_f 0.75 0.38 0.42

startup_commands toggle_titlebar;toggle_custom_color
