# local.db@	 --> ~/academia/.system/sioyek/local.db
# shared.db@	 --> ~/academia/.system/sioyek/shared.db

font_size 18
ui_font JetBrainsMono Nerd Font Mono

custom_background_color 0.863 0.863 0.800
custom_text_color 0.121 0.121 0.121

background_color 0.184 0.204 0.247
dark_mode_background_color 0.184 0.204 0.247
ui_background_color 0.306 0.337 0.408

super_fast_search 1
smooth_scroll 1
show_scrollbar 0

startup_commands toggle_titlebar;toggle_custom_color

